<!-- ./src/app/components/cadastro-produto/cadastro-produto.component.html -->

<div class="container">
  <form (ngSubmit)="salvar()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" class="form-control" [(ngModel)]="novoProduto.nome" name="nome" required>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea id="descricao" class="form-control" [(ngModel)]="novoProduto.descricao" name="descricao" required></textarea>
    </div>
    <div class="form-group">
      <label for="preco">Preço</label>
      <input id="preco" class="form-control" [(ngModel)]="novoProduto.preco" name="preco" required type="number">
    </div>
    <button type="submit" class="btn btn-primary">{{ botaoAcao }}</button>
    <button type="button" class="btn btn-secondary" (click)="cancelarEdicao()">Cancelar</button>
  </form>
  
  <app-mensagem-crud 
    [tipo]="tipoMensagem" 
    [nomeEntidade]="nomeEntidade" 
    [letraDoCRUD]="botaoAcao === 'Salvar' ? 'C' : 'U'" 
    [mensagem]="mensagem">
  </app-mensagem-crud>
</div>
