Flask==2.0.2
Werkzeug==2.0.2
Flask-SQLAlchemy
Flask-Migrate
ldap3
flask_cors
mysql-connector-python
# pandas
PyPDF2
Unidecode
gunicorn
pycryptodome
openpyxl
Flask-RESTful-Swagger
flask-swagger-ui
flask-socketio
